@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.test {
  display: flex;
}
body {
  background: white;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 2em;
}

.gold {
  font-weight: 900;
  font-style: italic;
  background: #c97e1b;
  color: transparent;
  font-size: 4em;
  padding: 0 .5em;
  font-family: "Audiowide", sans-serif;
  background: -webkit-linear-gradient(-87deg, #f9efa2 25%, #c97e1b 63%, #6e3405 85%);
  -webkit-background-clip: text;
  -webkit-text-stroke: .5px black;
}

/* HTML: <div class="hexagon"></div> */
.hexagon {
  z-index: -1;
  margin: -700px 22px;
  --b: 10px; /* adjust to control the border  */
  height: 600px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: 
    polygon(0 50%,50% -50%,100% 50%,50% 150%,0 50%,
    var(--b) 50%,
    calc(25% + var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(75% - var(--b)*cos(60deg)) calc(100% - var(--b)*sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    calc(25% + var(--b)*cos(60deg)) calc(var(--b)*sin(60deg)),
    var(--b) 50%);
  background: #3B8686;
    background: -webkit-linear-gradient(-10deg, #5f5a56 0%, #6e7664 25%, #6e7664 50%, #d5c4b2 75%, #f3db1a 100%);
}
.hex {
  margin: 100px 300px;
  width: 150px; /* adjust to control the size  */
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);
/*   background: #3B8686; */
}